
@media (max-width: 600px) {

    .img1{
        height: 200px;
    }
   
    .kk{
        font-size: 20px;
        color: green;
    }
    .mm{
        font-size: 30px;
    }
    .wh{
        font-size: 15px;
    }

    
}
    
